<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myspring.user.dao.mapper.UserMapper">
<!-- <mapper namespace="userNS"> -->
	
	<!-- <T> T selectOne(String statement, Object parameter) -->
	<select id="selectUserById" parameterType="string" resultType="User">
		select * from users where userid=#{value}
	</select>

	<select id="selectUserList" resultType="User">
		select * from users order by id
	</select>

	<insert id="insertUser" parameterType="User">
		insert into users (userid, name, gender, city)
		values(#{userId},#{name},#{gender},#{city} )
	</insert>

	<update id="updateUser" parameterType="User">
		update users set
		name = #{name},
		gender = #{gender},
		city = #{city}
		where userid = #{userId}
	</update>

	<delete id="deleteUser" parameterType="string">
		delete from users where userid = #{value}
	</delete>
	
</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 